@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy-Bold'), url(./fonts/Gilroy-Bold.ttf) format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy-Medium'), url(./fonts/Gilroy-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Gilroy-Light';
    src: local('Gilroy-Light'), url(./fonts/Gilroy-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: local('ExtraBold'), url(./fonts/Gilroy-ExtraBold.ttf) format('truetype');
}

:root {
    --body-background: rgb(226, 220, 233);
}

.bg-body {
    background-color: var(--body-background);
}

.bg-gradient-1 {

    background: linear-gradient(to bottom, #5f6c87, rgb(226, 220, 233));
}

.bg-gradient-2 {
    border: 1px solid rgb(142, 142, 142);
    background: linear-gradient(to bottom right, #cad3e8 30%, rgb(226, 220, 233) 70%);
}



html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-background);
    font-family: 'Gilroy-Medium';
    scroll-behavior: smooth;
}


.gilroy-light {
    font-family: 'Gilroy-Light';
}

.gilroy-bold {
    font-family: 'Gilroy-Bold';
}

.gilroy-extraBold {
    font-family: 'Gilroy-ExtraBold';
    letter-spacing: 0.005em;
}

.text-md {
    font-size: 1.04rem;
    line-height: 1.7rem
}

.bg-custom-white {
    background-color: rgb(249, 249, 249);
}

.text-13 {
    font-size: 13px;
    line-height: 1.25rem;
}

.h-95 {
    height: 95%;
}

.w-50 {
    width: 12.5rem;
}

.h-101 {
    height: 101%;
}


/* navbar popups */
.navDropdown1:hover .absolute {
    opacity: 100;
    transform: scaleY(1);
    border: 1px solid rgb(224, 224, 224);
}

.dropdownPopup {
    right: -40px;
}

/* navbar popups */

.socialIcons svg {
    transition: transform 0.1s ease-in-out;
}

.socialIcons svg:hover {
    transform: scale(1.2);
}

.writing-vlr {
    writing-mode: vertical-lr;
}


#header {
    transition: box-shadow 0.4s ease;
}

.headerShadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* swiper */
.mySwiper {
    margin-left: 0 !important;
}


.mySwiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.mySwiper .swiperSlides {
    background-color: white;
}


.bannerHeading {
    line-height: 1.1 !important;
}

#appointmentDate:disabled {
    color: black !important;
    -webkit-text-fill-color: black;
}

/* notifications */

.notifications {
    padding: 10px 5px 10px 10px;
    box-shadow: inset 0px 7px 5px -5px rgba(119, 118, 118, 0.5);
    border-radius: 10px;
    height: 500px;
}
@media (max-width: 426px) {
    .notifications {
        height: 100vh; /* Set height to 100vh on small screens */
    }
}

.notifications::-webkit-scrollbar {
    width: 5px;
}

.notifications::-webkit-scrollbar-track {
    background: transparent;
}

.notifications::-webkit-scrollbar-thumb {
    background-color: #777980;
    border-radius: 10px;
}

.notifications::-webkit-scrollbar-thumb:hover {
    background-color: #505255;
}

/* notifications */

/* ribbon */
.ribbon {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    left: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

/* Ribbon on consultants */

/* DateTime picker */

.datetimepickerDiv>.e-datetime-wrapper {
    background: white;
    border-radius: 7px;
    padding: 5px 15px;
    border: 1px solid #d1d5db !important;
}

input,
textarea {
    font-family: gilroy-medium !important;
}


.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input).e-input-focus::after,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after {
    background: none;
}

.e-datetime-wrapper .e-input-group-icon.e-icons.e-active {
    color: #0f172a;
}

/* DateTime picker */

#filter select {
    padding-right: 30px;

}

#filter select:focus-visible {
    outline: 1px solid #0f172a;
}


/* remove jodit editor branding */
.jodit-status-bar .jodit-status-bar__item-right:last-child {
    display: none;
}

/* infinite brand slider */

.infiniteSlider {
    width: 100%;
    height: var(--brandBlockHeight);
    overflow: hidden;
    mask-image: linear-gradient(to right,
            transparent,
            #000 10% 90%,
            transparent)
}

.infiniteSlider .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--brandBlockWidth)*var(--quantity));
    position: relative;
}

.infiniteSlider .list .item {
    width: var(--brandBlockWidth);
    height: var(--brandBlockHeight);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    animation-delay: calc((var(--position) - 10) * 1s);
    display: flex;
    transition: filter 0.5s;
}

.infiniteSlider .list .item img {
    width: 100%;
    place-self: center;
}

@keyframes autoRun {
    from {
        left: 100%;
    }

    to {
        left: calc(var(--brandBlockWidth) * -1);
    }
}

.infiniteSlider:hover .item {
    animation-play-state: paused !important;
    filter: grayscale(1);
}

.infiniteSlider .item:hover {
    filter: grayscale(0);
}

/* testimonial infinite scroll effect */
/* 
/* 
.testimonialScoll {
    width: 100%;
    height: 100%;
    overflow: hidden;
    mask-image: linear-gradient(to bottom,
            transparent,
            #000 10% 95%,
            transparent);
}

.testimonialScoll .list {
    height: 100%;
    min-height: calc(var(--testimonialCardHeight)*var(--cardQuantity) - 230px);
    position: relative;
}

.testimonialScoll .list .testimonialCard {
    height: var(--testimonialCardHeight);
    position: absolute;
    top: 100%;
    min-height: var(--testimonialCardHeight);
    animation: autoRunTestimonials var(--timeInUnit) linear infinite;
    animation-delay: calc(((var(--cardPosition) - var(--time)) * (var(--timeInUnit)/3)));

}

@keyframes autoRunTestimonials {
    from {
        top: 100%;
    }

    to {
        top: calc(var(--testimonialCardHeight) * -1);
    }
}

.testimonialScoll:hover .testimonialCard {
    animation-play-state: paused !important;
}

@media(max-width:768px) {
    .testimonialScoll {
        max-height: calc(var(--testimonialCardHeight)*var(--cardQuantity)/2 - 230px);
    }

    .testimonialScoll .list .testimonialCard {
        animation-delay: calc(((var(--cardPosition) - var(--time)) * (var(--timeInUnit)/6)));

    }
} */
.testimonialSwiper .swiper-slide {
    height: 16rem;
}

.testimonialSwiper {
    padding: 20px 10px !important;
}

.testimonialSwiper .swiper-button-prev::after,
.testimonialSwiper .swiper-button-next::after {
    color: gray;
    font-size: 30px;
}

*/ .testimonialSwiper .swiper-slide {
    height: 16rem;
}

.testimonialSwiper {
    padding: 20px 10px !important;
}

.testimonialSwiper .swiper-button-prev::after,
.testimonialSwiper .swiper-button-next::after {
    color: gray;
    font-size: 30px;
}

.consultantCompanies .p-chips-token {
    background-color: #e5e7eb;
    border-radius: 12px;
    padding-right: 10px;
    margin: 0 4px 2px;
}

.consultantCompanies .p-chips-multiple-container {
    width: 100%;
}

.scroll-margin {
    scroll-margin-top: 80px; /* Adjust this value to match the height of your navbar */
  }